<section class="job-search">
  <div class="container">
    <div class="row top-title">
      <div class="col-xs-0 col-lg-2"></div>
      <div class="col-xs-12 col-lg-8 outer-box">
      <div class="row text-center">
        <h2>My Jobs</h2>
    </div>

        <div class="row">
          <% if @jobs.count != 0 %>
            <% @jobs.each do |job| %>
              <hr>

              <%= render 'jobs/job', job: job, employer: job.employer %>
              <% end %>
              <% else %>
              <div class="text-center">
              <h5>You haven't saved any jobs yet</h5>
              </div>
            <% end %>

        </div>
      </div>
      <div class="col-xs-0 col-lg-2"></div>
    </div>
  </div>
</section>