<section class="job-postings-index">
  <div class="container">
    <div class="row">
      <div class="col-xs-1 col-lg-4"></div>
      <div class="col-xs-10 col-lg-4 text-center">
        <h2 class="take-out-margin-t top-title">My Postings</h2>
      </div>
      <div class="col-xs-1 col-lg-4"></div>
    </div> <!-- CLOSES ROW -->

    <div class="row">
      <div class="col-xs-0 col-lg-3"></div>
      <% if @jobs.count != 0 %>
      <div class="col-xs-12 col-lg-6 job-postings-box">


        <% @jobs.each do |job| %>
          <%= render 'job', job: job, employer: @employer %>
          <% end %>
          <% else %>
          <h3>You haven't posted any jobs yet</h3>

        <% end %>

      </div>
      <div class="col-xs-0 col-lg-3"></div>
    </div>
    <div class="row">
<div class="col-xs-12 text-center">
<%= link_to 'Create new job', "jobs/new" %>

</div>
</div>