<section class="job-details">
  <div class="container">

    <div class="row">
      <div class="col-xs-1 col-lg-4"></div>
      <div class="col-xs-10 col-lg-4 text-center">
        <h2 class="take-out-margin-t">Job details</h2>
      </div>
      <div class="col-xs-1 col-lg-4"></div>
    </div> <!-- CLOSES ROW -->

    <div class="row">
      <div class="col-xs-0 col-lg-3"></div>
      <div class="col-xs-4 col-lg-2">
        <img class="comp-logo" src="http://lorempixel.com/400/400/">
      </div>
      <div class="col-xs-8 col-lg-4 take-out-padding-lr">
        <h3 class="take-out-margin-t">Crymson Technologies</h3>
        <p class="comp-description hidden-xs hidden-sm visible-md visible-lg">Maids table how learn drift but purse stand yet set. Music me house could among oh as their. Piqued our sister shy nature almost his wicket. Hand dear so we hour to. He we be hastily offence effects he service.</p>
      </div>
      <div class="col-xs-0 col-lg-3"></div>
    </div>

    <div class="row">
      <div class="col-xs-1 col-lg-3"></div>
      <div class="col-xs-10 col-lg-6 text-center">
        <h3 class="job-position">Position</h3>
        <h4>Job type</h4>
        <h4>Description</h4>
        <h4>Requirements</h4>
        <h4>Tags</h4>
        <h4>To apply</h4>
      </div>
      <div class="col-xs-1 col-lg-3"></div>
    </div>

    <br>
    <br>

    <div class="row">
      <form class="text-center">
        <button type="submit" class="btn btn-default">Add/edit content</button>
      </form>
    </div>

  </div>
</section>