<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @applicant.first_name %></h1>
    <h2>This automatic message is to inform you that you have been paired with an MBA student. </h2>

    <h2> You have been paired with : <%= @pair.student.name %> ! </h2>
    <h2> Have a Good Day ! </h2>
    <h2> PreReq Team </h2>
  </body>
</html>