<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @applicant.first_name %></h1>
    <p>This automatic message is to inform you that you have been paired with an MBA student. </p>

    <p> You have been paired with : <%= @pair.student.name %> ! <br/>
     Have a Good Day ! <br/>
     PreReq Team </p>
  </body>
</html>