<section class="buddies-view">

  <div class="row bottom-margin">
    <div class="col-lg-1"></div>

    <div class="col-lg-10 take-out-padding-lr">
      <div class="row">
        <h1 class="top-title">Buddies</h1>
      </div>

      <% if @pairs %>

      <div class="row">

      <% @pairs.in_groups_of(3, false).each do |group| %>

        <div class="row">
          <div class="three columns">
            <% group.each do |pair| %>
              <%= render 'buddybox', pair: pair %>
            <% end %>
          </div>
        </div>
      <% end %>

      </div>
      <% end %>


    </div>





  </div>
</section>