<section class="welcome-page">
<!-- WELCOME MSG SECTION -->

<section class="container welcome-msg">
<div class="row">
  <div class="col-lg-4 col-xs-1"></div>
  <div class="col-lg-4 col-xs-10 text-center">
    <h2>Welcome to PreReq</h2>
  </div>
  <div class="col-lg-4 col-xs-1"></div>
</div>
<div class="row">
  <div class="col-lg-2 col-xs-1"></div>
  <div class="col-lg-8 col-xs-10 text-center">
  <p>Maids table how learn drift but purse stand yet set. Music me house could among oh as their. Piqued our sister shy nature almost his wicket. Hand dear so we hour to. He we be hastily offence effects he service. Sympathize it projection ye insipidity celebrated my pianoforte indulgence.</p>
  </div>
  <div class="col-lg-2 col-xs-1"></div>
</div>
</section> <!-- closes welcome-msg section -->
<!-- WELCOME MSG SECTION END-->

<br>
<% if !current_user %>
<!-- FOR EMPLOYERS FOR IMMIGRANT BOXES SECTION -->
<section class="container">
<div class="row hidden-xs hidden-sm visible-md visible-lg">
  <div class="col-xs-2"></div>
  <div class="col-xs-8 welome-for-box">
    <div class="row">
      <div class="col-xs-2 vcenter text-center">
      <span>For employers</span>
      </div>
      <div class="col-xs-7 vcenter text-center">
      <p>Ladyship it daughter securing procured or am moreover mr. Put sir she exercise vicinity cheerful wondered.</p>
      </div>
      <div class="col-xs-2 vcenter text-center">
      <a class="btn btn-primary" href="/signup" role="button">Register</a>
      </div>
    </div>
  </div>
  <div class="col-xs-2"></div>

</div>
<br>
<div class="row hidden-xs hidden-sm visible-md visible-lg">
  <div class="col-xs-2"></div>
  <div class="col-xs-8 welome-for-box">
    <div class="row">
      <div class="col-xs-2 vcenter text-center">
      <span>For immigrants</span>
      </div>
      <div class="col-xs-7 vcenter text-center">
      <p>Ladyship it daughter securing procured or am moreover mr. Put sir she exercise vicinity cheerful wondered.</p>
      </div>
      <div class="col-xs-2 vcenter text-center">
      <a class="btn btn-primary" href="/signup" role="button">Register</a>
      </div>
    </div>
  </div>
  <div class="col-xs-2"></div>
</div>
<!-- FOR MOBILE XS -->


<div class="row add-5-margin-rl visible-xs hidden-md visible-sm hidden-lg">
  <div class="col-xs-12 welome-for-box">
    <div class="row">
    <!-- <div class="col-xs-1"></div> -->
    <div class="col-xs-12 text-center">
      <span>For employers</span>
    </div>
      <!-- <div class="col-xs-1"></div> -->
    </div>
    <div class="row">
    <div class="col-xs-12 text-center">
    <p>Ladyship it daughter securing procured or am moreover mr. Put sir she exercise vicinity cheerful wondered.</p>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-12 text-center">
      <a class="btn btn-primary" href="#" role="button">Register</a>
      </div>
    </div>

  </div>

</div>
<br>
<div class="row add-5-margin-rl visible-xs hidden-md visible-sm hidden-lg">
  <div class="col-xs-12 welome-for-box">
    <div class="row">
    <!-- <div class="col-xs-1"></div> -->
    <div class="col-xs-12 text-center">
      <span>For immigrants</span>
    </div>
      <!-- <div class="col-xs-1"></div> -->
    </div>
    <div class="row">
    <div class="col-xs-12 text-center">
    <p>Ladyship it daughter securing procured or am moreover mr. Put sir she exercise vicinity cheerful wondered.</p>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-12 text-center">
      <a class="btn btn-primary" href="#" role="button">Register</a>
      </div>
    </div>

  </div>
</div>

</section>
<% end %>
<!-- FOR EMPLOYERS FOR IMMIGRANT BOXES SECTION END -->

<br>


<!-- READ OUR STORIES SECTION -->
<section class="container">
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8 text-center">
    <h3>Read our stories</h3>
  </div>
  <div class="col-xs-2"></div>
</div>

<div class="row hidden-xs hidden-sm hidden-md visible-lg">
  <div class="col-xs-2"></div>

  <div class="col-xs-8 story-container">
  <img class="story-im-pic" src="http://lorempixel.com/200/200/">
  <img class="story-mba-pic" src="http://lorempixel.com/200/200/sports/">
  <div class="story-box"></div>
  <p class="story-im-name text-right">Philippe-Jean Desrosiers</p>
  <p class="story-mba-name text-right">Nicholas Blain-Carpenter</p>
  </div>
  <div class="col-xs-2"></div>
</div>

<div class="row hidden-xs visible-lg">
  <div class="col-xs-2"></div>
  <div class="col-xs-8 story-container">
  <img class="story-im-pic" src="http://lorempixel.com/200/200/">
  <img class="story-mba-pic" src="http://lorempixel.com/200/200/sports/">
  <div class="story-box"></div>
  <p class="story-im-name text-right">Philippe-Jean Desrosiers</p>
  <p class="story-mba-name text-right">Nicholas Blain-Carpenter</p>
  </div>
  <div class="col-xs-2"></div>
</div>

<div class="row hidden-xs visible-lg">
  <div class="col-xs-2"></div>
  <div class="col-xs-8 story-container">
  <img class="story-im-pic" src="http://lorempixel.com/200/200/">
  <img class="story-mba-pic" src="http://lorempixel.com/200/200/sports/">
  <div class="story-box"></div>
  <p class="story-im-name text-right">Philippe-Jean Desrosiers</p>
  <p class="story-mba-name text-right">Nicholas Blain-Carpenter</p>
  </div>
  <div class="col-xs-2"></div>
</div>


<!-- FOR MOBILE XS -->
<div class="story-box-sm hidden-lg visible-md visible-sm visible-xs">
<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <img class="im-story-pic-mobile" src="http://lorempixel.com/200/200/">
  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-4">
    <img class="mba-story-pic-mobile" src="http://lorempixel.com/200/200/">
  </div>
  <div class="col-xs-1"></div>
</div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 text-center">
      <p>Maids table how learn drift but purse stand yet set. Music me house could among oh as their. Piqued our sister shy nature almost his wicket. Hand dear so we hour to. He we be hastily offence effects he service. Sympathize it projection ye insipidity celebrated my pianoforte indulgence.</p>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>

<br>

<div class="story-box-sm hidden-lg visible-xs">
<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <img class="im-story-pic-mobile" src="http://lorempixel.com/200/200/">
  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-4">
    <img class="mba-story-pic-mobile" src="http://lorempixel.com/200/200/">
  </div>
  <div class="col-xs-1"></div>
</div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 text-center">
      <p>Maids table how learn drift but purse stand yet set. Music me house could among oh as their. Piqued our sister shy nature almost his wicket. Hand dear so we hour to. He we be hastily offence effects he service. Sympathize it projection ye insipidity celebrated my pianoforte indulgence.</p>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>

<br>

<div class="story-box-sm hidden-lg visible-xs">
<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <img class="im-story-pic-mobile" src="http://lorempixel.com/200/200/">
  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-4">
    <img class="mba-story-pic-mobile" src="http://lorempixel.com/200/200/">
  </div>
  <div class="col-xs-1"></div>
</div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 text-center">
      <p>Maids table how learn drift but purse stand yet set. Music me house could among oh as their. Piqued our sister shy nature almost his wicket. Hand dear so we hour to. He we be hastily offence effects he service. Sympathize it projection ye insipidity celebrated my pianoforte indulgence.</p>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>

</section>
<!-- READ OUR STORIES SECTION END -->

<!-- OUR PARTNERS SECTION -->
<section class="container">
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8 text-center">
    <h3>Our partners</h3>
  </div>
  <div class="col-xs-2"></div>
</div>

<div class="hidden-xs visible-lg">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-1">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">

    </div>
    <div class="col-xs-2 col-xs-offset-2">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">

    </div>
    <div class="col-xs-2 col-xs-offset-2">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">
    </div>
    <div class="col-xs-1"></div>
    </div>

    <div class="row">
      <div class="col-xs-2 col-xs-offset-3">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">
    </div>
    <div class="col-xs-2 col-xs-offset-2">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">
    </div>
    <div class="col-xs-3"></div>

    </div>
<!-- row 3 -->
<div class="row">
    <div class="col-xs-2 col-xs-offset-1">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">

    </div>
    <div class="col-xs-2 col-xs-offset-2">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">

    </div>
    <div class="col-xs-2 col-xs-offset-2">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">
    </div>
    <div class="col-xs-1"></div>

  </div>
  </div>
<!-- FOR MOBILE XS -->
<div class="hidden-lg visible-xs">
  <div class="row">
    <div class="col-xs-5  take-out-padding-lr">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">
    </div>
    <div class="col-xs-5 col-xs-offset-2 take-out-padding-lr">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">
    </div>
  </div>
<br>
<div class="row">
    <div class="col-xs-5  take-out-padding-lr">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">
    </div>
    <div class="col-xs-5 col-xs-offset-2 take-out-padding-lr">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">
    </div>
  </div>
<br>
<div class="row">
    <div class="col-xs-5  take-out-padding-lr">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">
    </div>
    <div class="col-xs-5 col-xs-offset-2 take-out-padding-lr">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">
    </div>
  </div>

</div>

</section>
<!-- OUR PARTNERS SECTION END -->

</section>