

main section.admin-dashboard{
  background: url('bg.png');

  .green-island{
    margin-top:100px;
    background-color: $main-blue;
    border-radius: 5px;
    padding:0px 15px 0px 15px;
    box-shadow: 0px 0px 10px gray;
    h3{
      color: white;
      margin: 12px 0px 12px 0px;
      #plus-sign{
        color: #346089;
        padding: 0px 20px 0px 20px;
        &:hover{
          color: #192f44;
        }
        &:active{
          -webkit-box-shadow: none;
          box-shadow: none;
          color: #eee;
        }
      }
    }
  }
  .green-island-no-tm{
    box-shadow: 0px 0px 10px gray;
  margin-top: 30px;
  margin-bottom: 20px;
    background-color:  $main-blue;
    border-radius: 5px;
    padding:0px 15px 0px 15px;
    h3{
      margin: 12px 0px 12px 0px;
      color: white;
      #plus-sign{
        color: #346089;
        padding: 0px 20px 0px 20px;
        &:hover{
          color: #192f44;
        }
        &:active{
          -webkit-box-shadow: none;
          box-shadow: none;
          color: #eee;
        }
      }
    }
  }
  table{
    background-color:white;
    .fa{
      padding:0px;

    }
  }

  .bottom-margin{
    margin: 20px 15px 30px 15px;
  }
  .modal{
  .no-border{
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .form-submit{
    text-align: center;
  }
}

}