main section.admin-dashboard{
  .new-mba-btn{
    font-size: 14px;
    font-style: normal;
  }
  .green-island{
    margin-top:100px;
    background-color:   #A6E890;
    border-radius: 10px;
    padding:0px 15px 0px 15px;
    h3{
      margin: 12px 0px 12px 0px;
    }
  }
  .green-island-no-tm{
  margin-top: 30px;
  margin-bottom: 20px;
    background-color:   #A6E890;
    border-radius: 10px;
    padding:0px 15px 0px 15px;
    h3{
      margin: 12px 0px 12px 0px;
    }
  }
  table{
    background-color:white;
  }
  form{
    border: 1px #ddd solid;
    padding: 10px 30px 20px 30px;
    margin-bottom: 30px;


}
}