main section.mba-profile-edit{
  .mba-profile-pic{
    width: 100%;
  }
  .take-out-padding-lr{
    padding: 0px;
  }
  .take-out-margin-t{
    margin-top: 0px;
  }
  .profile-email{
    font-size: 18px;
  }
  .table-head{
    width: 25%;
    text-align: right;
  }
  .table-content{
    text-align: left;
  }
}