<section class="employer-profile">
  <div class="container">
    <div class="row">
      <div class="col-xs-1 col-lg-4"></div>
      <div class="col-xs-10 col-lg-4 text-center">
        <h2 class="take-out-margin-t">Company profile</h2>
      </div>
      <div class="col-xs-1 col-lg-4"></div>
    </div> <!-- CLOSES ROW -->

    <div class="row">
      <div class="col-xs-0 col-lg-3"></div>
      <div class="col-xs-4 col-lg-2">
        <img class="comp-logo" src="http://lorempixel.com/400/400/">
      </div>
      <div class="col-xs-8 col-lg-4 take-out-padding-lr">
        <h3 class="take-out-margin-t">Crymson Technologies</h3>
        <a class="company-email" href="#">crymson@technologies.com</a>
      </div>
      <div class="col-xs-0 col-lg-3"></div>
      </div>


      <div class="row">

        <div class="col-xs-1 col-lg-3"></div>
        <div class="col-xs-10 col-lg-6 text-center">

          <h4>Description</h4>


        </div>
        <div class="col-xs-1 col-lg-3"></div>

      </div>
      <br>
      <br>
      <div class="row text-center">

          <a type="submit" href="<%= edit_employer_path(@employer) %>">Add/edit content</a>
          <a type="submit" href="<%= employer_jobs_path(@employer) %>">Job postings</a>
      </div>
      </div>
    </section>