main section.aboutus-view{
  h1{
    font-size: 45px;
    font-weight: bold;
    color: #4286f4;
    margin-bottom: 30px;
  }
  p{
    font-size: 16px;
  }
  h2{
    margin-top: 50px;
    margin-bottom: 25px;
    color: #4286f4;
    font-weight: bold;
  }
  h3{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #our-team-margin{
    margin-bottom: 10px;

  }

  .bottom-margin{
    padding-bottom: 60px;
  }
}