// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "homepage";

// Global
body {
  padding-top: 70px;
  .footer {
    width: 100%;
    background-color: #eee;
  }
}

