// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "homepage";

// Applicant
@import "applicant";

// Global
body {
  padding-top: 70px;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #eee;
}