
main section.new-employer{
  .comp-logo{
    width:100%;
    height: auto;
  }
  .take-out-margin-t{
    margin-top: 0px;
  }
  .form-control{
    width:100%;
  }
}

main section.employer-profile{
  .comp-logo{
    width: 100%;
  }
  .take-out-padding-lr{
    padding: 0px;
  }
  .take-out-margin-t{
    margin-top: 0px;
  }
  .profile-email{
    font-size: 18px;
  }
  .table-head{
    width: 25%;
    text-align: right;
  }
  .table-content{
    text-align: left;
  }
}

main section.employer-profile-edit{
  .comp-logo{
    width:100%;
    height: auto;
  }
  .take-out-margin-t{
    margin-top: 0px;
  }
  .form-control{
    width:100%;
  }
}