
main section.new-employer{
  .comp-logo{
    width:100%;
    height: auto;
  }
  .take-out-margin-t{
    margin-top: 0px;
  }
  .form-control{
    width:100%;
  }
  .no-border{
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .upload-preview{
    img{
      width: 25%;
      max-height: 200px;
    }
  }
  .form-submit{
    text-align: center;
  }
  .bottom-margin{
  margin: 20px 15px 30px 15px;
  }
}

main section.employer-profile{
  .comp-logo{
    width: 100%;
  }
  .take-out-padding-lr{
    padding: 0px;
  }
  .take-out-margin-t{
    margin-top: 0px;
  }
  .profile-email{
    font-size: 18px;
  }
  .table-head{
    width: 25%;
    text-align: right;
  }
  .table-content{
    text-align: left;
  }
  .bottom-margin{
    margin: 20px 15px 30px 15px;
  }
  .card-bg{
    margin-top:10px;
    margin-bottom: 20px;
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #A6E890;
  }
  .upload-preview{
    img{
      width: 25%;
      max-height: 200px;
    }
  }
    .no-border{
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .form-submit{
      text-align: center;
    }

}

main section.employer-profile-edit{
  .comp-logo{
    width:100%;
    height: auto;
  }
  .take-out-margin-t{
    margin-top: 0px;
  }
  .form-control{
    width:100%;
  }
}