main section.new-job{
  .take-out-margin-t{
    margin-top: 0px;
  }
  .form-control{
    width:100%;
  }
}

main section.job-edit{
  .take-out-margin-t{
    margin-top: 0px;
  }
  .form-control{
    width:100%;
  }
}

main section.job-details{
  .comp-logo{
    width:100%;
    height: auto;
  }
  .take-out-margin-t{
    margin-top: 0px;
  }
}