main section.new-job{
  .take-out-margin-t{
    margin-top: 0px;
  }
  .form-control{
    width:100%;
  }
}

main section.edit-job{
  .take-out-margin-t{
    margin-top: 0px;
  }
  .form-control{
    width:100%;
  }
}

main section.job-details{
  .comp-logo{
    width:100%;
    height: auto;
  }
  .take-out-margin-t{
    margin-top: 0px;
  }
  .table-head{
    width: 25%;
    text-align: right;
  }
  .table-content{
    text-align: left;
  }
  .bottom-margin{
    margin: 20px 15px 30px 15px;
  }
  .card-bg{
    margin-top:10px;
    margin-bottom: 20px;
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #A6E890;
  }
  h3.job-position{
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .modal{
  .no-border{
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .form-submit{
    text-align: center;
  }
  }

}

main section.job-postings-index{
  background-image: url('bg.png');
  .outer-box{
    padding-bottom: 20px;
    margin-bottom:30px;
    background-color: white;
    border: black solid 1px;
    h2{
      margin-bottom:0px;
    }
    hr{
      margin-top:20px;
      margin-bottom:20px;
    }
  }
  .job-posting-item{
    margin: 0px;
    padding: 5px;
    h4{
      margin-top: 0px;
      margin-bottom: 5px;
    }

    .description-overflow{
      height: 4em;
      overflow:hidden;
      text-overflow:ellipsis;
      margin-bottom: 10px;
      .job-item-description{
        color: #595959;
      }
    }
    .btn{

      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      background-color:#389bf7;
      color: white;
      border: none;
      transition: all .2s ease-in-out;
      &:hover{
        transform: scale(1.1);
      }
      &:focus{
        background-color:#2668a5;
      }
    }
    .timeago{
      font-size: 12px;
      font-style: italic;
    }
  }

  .bottom-margin{
    margin: 20px 15px 30px 15px;
  }
}



main section.job-search{
  background-image: url('bg.png');

  .outer-box{
    padding-bottom: 20px;
    margin-bottom:30px;
    background-color: white;
    border: black solid 1px;
    hr{
      margin-top:20px;
      margin-bottom:20px;
    }
  }
  form{
    padding: 30px 30px 30px 30px;
    p{
      margin:0px;
      input#query{
        width: 400px;
        padding: 5px 10px;
      }
      .search-btn{
        border: 1px solid black;
        color: black;
        background-color: white;
        padding: 5px 6px 5px 6px;
        border-radius: 0px;
        &:hover{
          background-color: #eee;
        }
        &:focus{
          background-color: #d3d3d3;
          color: black;
        }
      }

    }
  }
  .job-posting-item{
    margin: 0px;
    padding: 5px;
    h4{
      margin-top: 0px;
      margin-bottom: 5px;
    }

    .description-overflow{
      height: 4em;
      overflow:hidden;
      text-overflow:ellipsis;
      margin-bottom: 10px;
      .job-item-description{
        color: #595959;
      }
    }
    .btn{
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      background-color:#389bf7;
      color: white;
      border: none;
      transition: all .2s ease-in-out;
      &:hover{
        transform: scale(1.1);
      }
      &:focus{
        background-color:#2668a5;
      }
    }
    .timeago{
      font-size: 12px;
      font-style: italic;
    }
  }
}