main section.new-job{
  .take-out-margin-t{
    margin-top: 0px;
  }
  .form-control{
    width:100%;
  }
}

main section.job-edit{
  .take-out-margin-t{
    margin-top: 0px;
  }
  .form-control{
    width:100%;
  }
}

main section.job-details{
  .comp-logo{
    width:100%;
    height: auto;
  }
  .take-out-margin-t{
    margin-top: 0px;
  }
}

main section.job-postings-index{
  .job-postings-box{
    border: 1px black solid;
    .job-posting-item{
      border: 1px black solid;
      margin: 5px;
      padding: 10px;

    }
  }
}