<footer role="contentinfo" class="footer footer-default ">

    <nav class="row">
  <div class="col-xs-2"></div>
<div class="col-xs-2 text-center">


        <h3 class="nav-title">Company</h3>
        <ul class="nav">

  <li class="text-center">

      About

  </li>
</ul>
</div>


            <div class="col-xs-2 text-center">
        <h3 class="nav-title">Contact Us</h3>
        <ul class="nav">

  <li class="text-center">
    Phone
  </li>

  <li class="text-center">
    Email
  </li>

  <li class="text-center">
    Address
  </li>

  <li class="text-center">
    Hours
  </li>

        </ul>
      </div>

            <div class="col-xs-2 text-center">
        <h3 class="nav-title">Useful links</h3>
        <ul class="nav">
            <li class="text-center">
          Resume Builders

  </li>

  <li class="text-center">
   Workshops
  </li>

    </ul>
      </div>



<div class="col-xs-2 text-center">
        <h3 class="nav-title">Social Media</h3>
        <ul class="nav">
            <li class="text-center">
          Facebook

  </li>

  <li class="text-center">
   Instagram
  </li>
<li class="text-center">
   Twitter
  </li>
    </ul>
      </div>
<div class="col-xs-2"></div>
    </nav>



</footer>