<footer role="contentinfo" class="footer footer-default ">

    <nav class="row">
  <div class="col-xs-2"></div>
<div class="col-xs-2 text-center">


        <h3 class="nav-title">Company</h3>
        <ul class="nav">

  <li class="text-center">

      <%= link_to "About Us", '/about'%>

  </li>
</ul>
</div>


            <div class="col-xs-2 text-center">
        <h3 class="nav-title">Contact Us</h3>
        <ul class="nav">

  <li class="text-center">
    Phone
  </li>

  <li class="text-center">
    Email
  </li>

  <li class="text-center">
    Address
  </li>

  <li class="text-center">
    Hours
  </li>

        </ul>
      </div>

            <div class="col-xs-2 text-center">
        <h3 class="nav-title">Useful links</h3>
        <ul class="nav">
            <li class="text-center">
          <a href="http://creddle.io/">Creddle Résumé Builder</a>

  </li>

  <li class="text-center">
  <a href="https://www.meetup.com/cities/ca/qc/montr%C3%A9al/">Meetup Montreal</a>
  </li>

  </ul>
    </div>



    <div class="col-xs-2 text-center">
      <h3 class="nav-title">Social Media</h3>
      <ul class="nav">
        <li class="text-center social-logo">
          <a href="https://www.facebook.com/PrereqMTL/">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </li>

        <li class="text-center social-logo">
          <a href="https://www.instagram.com/prereq_dream_team/">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li class="text-center social-logo">
          <a href="https://twitter.com/mtlprereq">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-2"></div>
  </nav>



</footer>